<html>
  <head>
      <title>Compareddit</title>
      <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="/favicon_io/manifest.json" crossorigin="use-credentials" >
  </head>
  <body>
      <h1>{{title}}</h1>
      <div class = "users">
          <div class = "input_title">Users:</div>
          <form action = "#" id = "fr">
              <input type = "text" class="sc" id = "name_1">
              <input type = "text" class="sc" id = "name_2">
              <input type = "button" id = "compare" onclick = "sendValues();">
          </form>
      </div>
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>
