<html>
  <head>
      <title>Compareddit</title>
      <link rel="shortcut icon" type="image/png" href="favicon_io\favicon-16x16.png"/>
  </head>
  <body>
      <h1>{{title}}</h1>
      <div class = "users">
          <div class = "input_title">Users:</div>
          <form action = "#" id = "fr">
              <input type = "text" class="sc" id = "name_1">
              <input type = "text" class="sc" id = "name_2">
              <input type = "button" id = "compare" onclick = "sendValues();">
          </form>
      </div>
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>
